* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: sans-serif;
}

body {
    transition: background 0.2s linear;
    
}

body.dark {
    background-color: #121212;
}

body.dark li a {
    color: white;
}

body.dark p {
    color: white;
}

body.dark .menu-icon {
    color:white;
}

body.dark .label {
    background-color: #fff ;
}
body.dark .ball {
    background-color: #292c35;
}

li, a {
    color: #292c35;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    position: fixed;
    top: 0;
    width: 100%;
}

.side-buttons{
    display:flex;
}

.logo {
    cursor: pointer;
    height: 50px;
    width: 220px;
}

.navbuttons {
    list-style: none;
}

.navbuttons li {
    display: inline-block;
    padding: 0px 20px;
}

.navbuttons li a {
    transition: all 0.3 ease 0s;
}

ul li ul.dropdown li {
    display:block;
}

ul li ul.dropdown {
    position: absolute;
    z-index: 999;
    display: none;
    background-color:grey;
}

.dropdown li {
    padding: 5px;
    margin: 2px;
}

.dropdown li a {
    color: white;
    cursor: pointer;
}


ul li:hover ul.dropdown {
    display: block;
}

.navbuttons li a:hover {
    color: #ff2c2c;
}

.label {
    cursor:pointer;
    display: flex;
    background-color:#292c35; 
    justify-content: space-between;
    position: relative;
    width: 50px;
    padding: 5px;
    height: 26px;
    border-radius:50px;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox:checked + .label .ball {
    transform: translate(24px);
} 

.ball {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transition: transform 0.2s linear;
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

.menu-cont {
    margin-left: 20px;
}

.menu-icon {
    font-size:20px;
    cursor:pointer;
    margin-top: 2px;
    color:#292c35;
}

.menu-icon:hover {
    color:red;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    z-index: 100;
}

.load-logo {
    height:150px ;
    width:150px ;
}

.disappear {
    animation: vanish 2s forwards;
}
@keyframes vanish {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

