* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: sans-serif;
}

body {
    transition: background 0.2s linear;
    
}

body.dark {
    background-color: #121212;
}

body.dark li a {
    color: white;
}

body.dark p {
    color: white;
}

body.dark .label {
    background-color: #fff ;
}
body.dark .ball {
    background-color: #292c35;
}

body.dark .fa-shopping-cart {
    color:white;
}

body.dark .fa-search {
    color:white;
}

li, a {
    color: #292c35;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    cursor: pointer;
    height: 50px;
    width: 110px;
}

.navbuttons {
    list-style: none;
}

.navbuttons li {
    display: inline-block;
    padding: 0px 20px;
}

.navbuttons li a {
    transition: all 0.3 ease 0s;
}

.navbuttons li a:hover {
    color: #ff2c2c;
}

button:hover {
    background-color: rgba(0,136,168,0.8);
}

.side-buttons{
    display:flex;
}

.label {
    display: flex;
    background-color:#292c35; 
    justify-content: space-between;
    position: relative;
    width: 50px;
    padding: 5px;
    height: 26px;
    border-radius:50px;
    bottom: 5px;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox:checked + .label .ball {
    transform: translate(24px);
} 

.ball {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transition: transform 0.2s linear;
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

.searchbar-cont{
    padding-right: 20px;
}

.cart-container {
    padding-right: 20px;
}

.fa-shopping-cart {
    color:#292c35;
}

.fa-search {
    color:#292c35;
}

